@import 'normalize';

html,
body {
  margin: 0;
  overflow: hidden;
}

.title {
  color: red;

  &_test {
    background: blue;
  }

  &:hover {
    color: blue;
  }
}

::selection {
  background: green;
}
