@import 'normalize';

html,
body {
  margin: 0;
  overflow: hidden;
}

.title {
  color: red;

  &_test {
    background: blue;
  }

  &:hover {
    color: blue;
  }
}

::selection {
  background: green;
}

.modal {
  position: fixed;
  width: 33vw;
  top: 10vh;
  left: 10vh;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    max-blend-mode: difference;
    color: #ffffff;

    &:hover {
      cursor: pointer;
    }

    svg {
      width: auto;
      height: 100%;
    }
  }

  &__video {
    margin-top: 2em;

    width: 100%;
    height: auto;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__audio {
    margin-top: 2em;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &.hidden {
    display: none;
  }
}
